<div class = "row" id = "nav">
  <div class = "row" id = "login">
    <% if logged_in? %>
      <%= current_user.proper_name %> | <%= current_user.role %><br>
      <%= link_to 'Logout', logout_path %>
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </div>
  <div class = "row">
    <div id = "title">
      <h1>MANNA</h1>
    </div>
  </div>
  <div class = "row">
    <div class = "one-half column">
      <p id ="blurb">ACAC Pittsburgh PA</p>
    </div>
    <div class = "one-half column omega">
      <ul class = "nav_menu">
        <li><%= link_to 'Home', home_path %></li>
        <li><%= link_to 'Apply', new_case_path %></li>
        <li><%= link_to 'Cases', cases_path %></li>
        <li class = "last"><%= link_to 'Clients', clients_path %></li>
        <!-- need to find way to display clients -->
      </ul>
    </div>

  </div>
</div>
