<div id = "nav">
  <div id = "login">
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path %>
      <br>[<%= current_user.proper_name %>:<%= current_user.role %>]
    <% else %>
      <%= link_to 'Login', login_path %>
    <% end %>
  </div>
  <div id = "title">
    <h1>MANNA</h1>
  </div>
  <ul>
		<li><%= link_to 'Home', home_path %></li>
		<li><%= link_to 'Apply', new_case_path %></li>
		<li><%= link_to 'Cases', cases_path %></li>
		<li><a>Clients</a></li>
    <!-- need to find way to display clients -->
	</ul>
</div>
