<div class="row fields">
  <!-- fields -->
  <div class = "five columns">
    <%= f.label :attachment %>
    <a href="#" class = "button primary" onclick="document.getElementById('fileID').click(); return false;" />Browse</a>
    <%= f.file_field :attachment, :"capture" => 'camera', :"id" => 'fileID', :"style" => 'visibility: hidden;'%>
  </div>

  <div class = "six columns">
    <%= f.label :name %>
    <%= f.text_field :name, :"id" => 'fileName'%>
  </div>
  <div class = "one column">
    <!-- x icon to remove -->
      <%= f.link_to_remove("x") %>
  </div>

    <!-- fields -->
    <!-- <%= f.input :name , label: false, :input_html => {:"type" => 'file', :"accept" => 'image/*', :"capture" => 'camera', :"class" => 'button primary full'}%> -->
    <!-- <div class="field"> -->

    <!-- </div> -->


  </div>
