<div class="fields">
  <div>
    <!-- fields -->
    <!-- <%= f.input :name , label: false, :input_html => {:"type" => 'file', :"accept" => 'image/*', :"capture" => 'camera', :"class" => 'button primary full'}%> -->
    <!-- <div class="field"> -->
      <%= f.label :name %>
      <%= f.text_field :name %>
    <!-- </div> -->
    <%= f.label :attachment %>
    <%= f.file_field :attachment%>

  </div>
</div>
