<div class="row fields">
  <!-- fields -->
  <div class = "five columns">
    <%= f.label :attachment %>
    <!-- <a href="#" class = "button primary" onclick="document.getElementById('fileID').click(); return false;" />Browse</a>
    <%= f.file_field :attachment, :"capture" => 'camera', :"id" => 'fileID', :"style" => 'visibility: hidden;'%> -->
    <%= f.input :name , label: false, :input_html => {:"type" => 'file', :"accept" => 'image/*', :"capture" => 'camera', :"class" => 'attach_file'}%>

  </div>

  <div class = "five columns">
    <%= f.label :name %>
    <%= f.text_field :name, :"id" => 'fileName'%>
  </div>
  <div class = "two columns">
    <!-- x icon to remove -->
      <label>&nbsp;</label>
      <%= f.link_to_remove("remove", :class => 'button primary')%>
  </div>
  </div>
