<%= simple_nested_form_for @case, :html => { :class => '' } do |case_form| %>
    <div class="row">
      <div class="12 columns">
        <fieldset>
          <%= render :partial => "case_fields", :locals => { :f => case_form } %>
        </fieldset>
      </div>
    </div>
    <div class = "row">
      <div class="12 columns">
          <div id="case_documents" style = "width: 100%;">
            <%= case_form.simple_fields_for :documents do |document_form| %>
              <%= render :partial => "document_fields", :locals => { :f => document_form } %>
            <% end %>
            <p>
              <br /><%= case_form.link_to_add("Attach Files", :documents, :class => 'button primary full') %>
            </p>
          </div>
        </div>
    </div>

    <div class="form-actions">
      <%= case_form.submit "Send", :class => 'button primary' %>
      <%= link_to 'Cancel', cases_path, :class => 'button secondary' %>
    </div>
  <% end %>
