<% if logged_in? %>
<p id="notice"><%= notice %></p>

<h1>Listing Cases</h1>

<table>
  <thead>
    <tr>
      <th>Client name</th>
      <th>Date submitted</th>
      <th>Summary</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Deacon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% for c in @cases %>
      <tr>
        <td><%= c.client_name %></td>
        <td><%= c.date_submitted %></td>
        <td><%= c.summary %></td>
        <td><%= c.notes %></td>
        <td><%= c.status %></td>
        <td><%= c.deacon_id %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_case_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Case', new_case_path %>
<% else %>
  <p>please log in</p>

<% end %>
