<% if logged_in? %>
<p id="notice"><%= notice %></p>

<h1>Listing Cases</h1>

<table class = "u-full-width">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Client Name</th>
      <th>Date submitted</th>
    </tr>
  </thead>
  <tbody>
    <% for c in @cases %>
      <tr>
        <td><%= link_to "#{c.subject}", c %></td>
        <td><%= c.client_name %></td>
        <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '+NEW CASE', new_case_path %>
<% else %>
  <p>please log in</p>

<% end %>
