<p id="notice"><%= notice %></p>

<div class = "row">
  <div class = "twelve columns">
    <h2> <%= @case.subject %></h2>
  </div>
</div>
<div class = "row">
  <div class = "twelve columns">
    <%= link_to new_vote_path, remote: true do%>
    <h4>Votes:
      <span class="yes_vote"><%= @case.votes.yes.count %></span> |
      <span class ="no_vote"><%= @case.votes.no.count%></span>
    </h4>
    <% end %>
    <div id="vote-form" style="display:none;"></div>

  </div>
</div>

<div class = "row">
  <div class = "eight columns">
    <h4>Client: <%= @case.client_name %></h4>
  </div>
  <div class = "four columns">
    <h4>Status: <%= @case.status %></h4>
  </div>
</div>

<div class = "row">
  <div class = "twelve columns">  <h4>Description</h4></div>
  <div class = "twelve columns">  <p><%= @case.summary %></p></div>
  <div class = "twelve columns"> <h4 id="doc_list_title">Documents</h4>
  <% if @documents_list.nil? %>
    <p><em>There are no documents.</em></p>
  <% else %>
  <ul>
  <% @documents_list.each do |document| %>
      <li><%= link_to "#{document.name}", document.attachment_url %></li>
    <% end %>
  </ul>

  <% end %>
</div>
  <div class = "twelve columns">  <h5>Notes: <%= @case.notes %> </h5></div>
  <div class = "twelve columns">  <h5>Deacon: <%= @case.deacon.proper_name %> </h5></div>
  <div class = "twelve columns">  <h5>Date Submitted: <%= @case.date_submitted %> </h5></div>

</div>


<div class = "row">
  <div class = "ten columns">
    <%= link_to 'Edit', edit_case_path(@case) %> |
    <%= link_to 'Back', cases_path %>
  </div>
  <div class = "two columns">
    <!-- if can delete -->
    <%= link_to 'Destroy', @case, method: :delete, data: { confirm: 'Are you sure?' }  %>

  </div>

</div>
