<p id="notice"><%= notice %></p>

<div class = "row">
  <div class = "twelve columns">
    <h2> <%= @case.subject %></h2>
  </div>
</div>
<div class = "row">
  <div class = "twelve columns">
    <h4>Votes: </h4>
  </div>
</div>

<div class = "row">
  <div class = "eight columns">
    <h4>Client: <%= @case.client_name %></h4>
  </div>
  <div class = "four columns">
    <h4>Status: <%= @case.status %></h4>
  </div>
</div>

<div class = "row">
  <div class = "twelve columns">  <h4>Description</h4></div>
  <div class = "twelve columns">  <p><%= @case.summary %></p></div>
  <div class = "twelve columns"> <h4>Documents</h4>
  <% if @documents_list.nil? %>
    <p><em>There are no documents.</em></p>
  <% else %>
  <% @documents_list.each do |document| %>
    <ul>
      <li><%= link_to "#{document.name}", document.attachment_url %></li>
    </ul>
    <% end %>
  <% end %>
</div>
  <div class = "twelve columns">  <h5>Notes: <%= @case.notes %> </h5></div>
  <div class = "twelve columns">  <h5>Deacon: <%= @case.deacon.proper_name %> </h5></div>

</div>











<div class = "row">
  <%= link_to 'Edit', edit_case_path(@case) %> |
  <%= link_to 'Back', cases_path %>
</div>
