<%= form_for(@case_document) do |f| %>
  <% if @case_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_document.errors.count, "error") %> prohibited this case_document from being saved:</h2>

      <ul>
      <% @case_document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :case_id %><br>
    <%= f.number_field :case_id %>
  </div>
  <div class="field">
    <%= f.label :document_id %><br>
    <%= f.number_field :document_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
