<p id="notice"><%= notice %></p>

<p>
  <strong>Case:</strong>
  <%= @case_document.case_id %>
</p>

<p>
  <strong>Document:</strong>
  <%= @case_document.document_id %>
</p>

<%= link_to 'Edit', edit_case_document_path(@case_document) %> |
<%= link_to 'Back', case_documents_path %>
