<% if logged_in? %>
<div class = "row">
  <!-- if care deacon -->
  <% if current_user.is_care_deacon? %>
  <h1>Your Cases</h1>
  <table class = "u-full-width">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Client Name</th>
        <th>Date submitted</th>
      </tr>
    </thead>
    <tbody>
      <% for c in @cases_user %>
        <tr>
          <td><%= link_to "#{c.subject}", c %></td>
          <td><%= c.client_name %></td>
          <td><%= c.date_submitted %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% else %>
  <% if @need_review.empty?%>
  <h1>Need Review</h1>
  <p>None!</p>
  <% else %>
    <h1>Need Review</h1>

    <table class = "u-full-width">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Client Name</th>
          <th>Date submitted</th>
          <th>Voted</th>
        </tr>
      </thead>
      <tbody>
        <% for c in @need_review %>
          <tr>
            <td><%= link_to "#{c.subject}", c %></td>
            <td><%= c.client_name %></td>
            <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
            <td><%= c.has_voted?(current_user)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% end %>
    <% if @reviewed.empty?%>
    <h1>Reviewed Cases</h1>
    <p>None!</p>
    <% else %>
      <h1>Reviewed Cases</h1>

      <table class = "u-full-width">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Client Name</th>
            <th>Date submitted</th>
          </tr>
        </thead>
        <tbody>
          <% for c in @reviewed %>
            <tr>
              <td><%= link_to "#{c.subject}", c %></td>
              <td><%= c.client_name %></td>
              <td><%= c.date_submitted.to_formatted_s(:rfc822) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
  <% end %>



</div>

<% else %>
<!-- login form from sessions -->
<div class = "row">
 <div class = "twelve columns" >
  <h3>Log In</h3>
    <%= form_tag sessions_path do %>
      <div class="control-group">
        <%= label_tag :email %>
        <div class="controls">
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>
      <div class="actions"><%= submit_tag("Log In", :class=>"button") %></div>
    <% end %>
 </div>
</div>
<% end %>
