<%= form_for(@document, :html => { :multipart => true}) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= f.label :attachment %>
    <%= f.file_field :attachment%>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
