
<%= simple_form_for @vote, remote: true do |f|   %>

<% if @vote.errors.any? %>
  <% @vote.errors.full_messages.each do |message| %>
    <p class = "already_voted"><%= message %></p>
  <% end %>
<% end %>

<br>
  <h1 id = "vote_popup">Vote</h1>
  <br>
  <%= f.text_field  :decision, :id => 'decision', :style => 'display:none;'%>
  <div class = "vote_section">
    <a href="#" class = "num_yes" id = "vote_yes" onclick="document.getElementById('decision').value = 'yes'; console.log('yes...'); document.getElementById('voteSubmit').click(); return false;" >Yes</a>
    |
    <a href="#" class = "num_no" id = "vote_no" onclick="document.getElementById('decision').value = 'no'; console.log('no...'); document.getElementById('voteSubmit').click(); return false;" >No</a>
    <%= f.hidden_field :case_id, input_html: { value: @vote.case.id} %>
  </div>

<br>
  <%= f.button :submit, :id => 'voteSubmit', :value => 'Done', :style => 'display:none;' %>
<% end %>
